In [1]:
from utils.source_requirements import SourceRequirements

requirements = SourceRequirements().requirements

In [1]:
import pandas as pd

df = pd.read_csv('./data_source/order.txt', sep="\t", encoding_errors='backslashreplace')

In [2]:
df.columns

Index(['order_id', 'total_item', 'shipping_fee', 'tax ', 'total_cost',
       'order_date', 'delivery_date', 'ship_name ', 'ship_address ',
       'tracking_number', 'delivery_status'],
      dtype='object')

In [3]:
from utils.validate_data import getDataValidation

getDataValidation(df, 'orders')

Data Validation for 'orders':
 > Data shape:  (7, 11)
 > Data fields-types: {'order_id': dtype('int64'), 'total_item': dtype('int64'), 'shipping_fee': dtype('int64'), 'tax ': dtype('float64'), 'total_cost': dtype('float64'), 'order_date': dtype('O'), 'delivery_date': dtype('O'), 'ship_name ': dtype('O'), 'ship_address ': dtype('O'), 'tracking_number': dtype('O'), 'delivery_status': dtype('int64')}
 > Columns that should be dropped:
      01. tax
      02. ship_name
      03. ship_address
 > Columns that should have exist:
      01. tax
      02. ship_name
      03. ship_address
 > Mismatch type columns:
      01. 'order_id' columns should be in 'object' (original: int64)!
      02. 'shipping_fee' columns should be in 'float64' (original: int64)!
      03. 'order_date' columns should be in 'datetime64[ns]' (original: object)!
      04. 'delivery_date' columns should be in 'datetime64[ns]' (original: object)!
      05. 'delivery_status' columns should be in 'bool' (original: int64)!
 > There is no missing value columns v
 > There is no duplicated data v

In [4]:
from utils.helper import Helper

df.columns = [str(col).strip() for col in df.columns]

print(df.dtypes)

df = Helper.assignProperType(df, 'orders')
print(df.dtypes)

order_id             int64
total_item           int64
shipping_fee         int64
tax                float64
total_cost         float64
order_date          object
delivery_date       object
ship_name           object
ship_address        object
tracking_number     object
delivery_status      int64
dtype: object
order_id                   object
total_item                  int64
shipping_fee              float64
tax                       float64
total_cost                float64
order_date         datetime64[ns]
delivery_date      datetime64[ns]
ship_name                  object
ship_address               object
tracking_number            object
delivery_status              bool
dtype: object

In [7]:
for i, rows in df.iterrows():
    print(rows.to_dict())

{'order_id': 1000, 'total_item': 4, 'shipping_fee': 7.0, 'tax': 0.0925, 'total_cost': 50.02, 'order_date': Timestamp('2018-10-17 00:00:00'), 'delivery_date': Timestamp('2018-10-20 00:00:00'), 'ship_name': 'Anna Addison', 'ship_address': '1325 Candy Rd, San Francisco, CA 96123', 'tracking_number': 'ZW60001 ', 'delivery_status': True}
{'order_id': 1001, 'total_item': 5, 'shipping_fee': 8.0, 'tax': 0.06, 'total_cost': 62.45, 'order_date': Timestamp('2018-10-15 00:00:00'), 'delivery_date': Timestamp('2018-10-18 00:00:00'), 'ship_name': 'Carol Campbell', 'ship_address': '1931 Brown St, Gainesville, FL 85321', 'tracking_number': 'AB61001 ', 'delivery_status': False}
{'order_id': 1002, 'total_item': 7, 'shipping_fee': 10.0, 'tax': 0.087, 'total_cost': 40.33, 'order_date': Timestamp('2018-10-14 00:00:00'), 'delivery_date': Timestamp('2018-10-17 00:00:00'), 'ship_name': 'Julia Jones ', 'ship_address': '1622 Seaside St, Seattle, WA 32569 ', 'tracking_number': 'CD62001 ', 'delivery_status': True}
{'order_id': 1003, 'total_item': 9, 'shipping_fee': 20.0, 'tax': 0.0625, 'total_cost': 70.98, 'order_date': Timestamp('2018-10-12 00:00:00'), 'delivery_date': Timestamp('2018-10-15 00:00:00'), 'ship_name': 'Irene Everly ', 'ship_address': '1756 East Dr, Houston, TX 28562', 'tracking_number': 'KB63001 ', 'delivery_status': False}
{'order_id': 1004, 'total_item': 6, 'shipping_fee': 7.0, 'tax': 0.0625, 'total_cost': 30.45, 'order_date': Timestamp('2018-10-16 00:00:00'), 'delivery_date': Timestamp('2018-10-19 00:00:00'), 'ship_name': 'Rachel Rose', 'ship_address': '1465 River Dr, Boston, MA 43625 ', 'tracking_number': 'IK64001 ', 'delivery_status': True}
{'order_id': 1005, 'total_item': 5, 'shipping_fee': 8.0, 'tax': 0.0625, 'total_cost': 100.2, 'order_date': Timestamp('2018-10-13 00:00:00'), 'delivery_date': Timestamp('2018-10-16 00:00:00'), 'ship_name': 'Sophie Sutton', 'ship_address': '1896 West Dr, Portland, OR 65842', 'tracking_number': 'OP65001 ', 'delivery_status': False}
{'order_id': 1006, 'total_item': 3, 'shipping_fee': 5.0, 'tax': 0.1025, 'total_cost': 58.52, 'order_date': Timestamp('2018-10-21 00:00:00'), 'delivery_date': Timestamp('2018-10-24 00:00:00'), 'ship_name': 'Wendy West', 'ship_address': '1252 Vine St, Chicago, IL 73215', 'tracking_number': 'XH66001 ', 'delivery_status': True}

In [9]:
a = rows.to_dict()

In [10]:
a

{'order_id': 1006,
 'total_item': 3,
 'shipping_fee': 5.0,
 'tax': 0.1025,
 'total_cost': 58.52,
 'order_date': Timestamp('2018-10-21 00:00:00'),
 'delivery_date': Timestamp('2018-10-24 00:00:00'),
 'ship_name': 'Wendy West',
 'ship_address': '1252 Vine St, Chicago, IL 73215',
 'tracking_number': 'XH66001 ',
 'delivery_status': True}

In [12]:
df2 = df.copy()

df2.iloc[0] = a

In [13]:
df2

,order_id,total_item,shipping_fee,tax,total_cost,order_date,delivery_date,ship_name,ship_address,tracking_number,delivery_status
0,1006,3,5.0,0.1025,58.52,2018-10-21,2018-10-24,Wendy West,"1252 Vine St, Chicago, IL 73215",XH66001,True
1,1001,5,8.0,0.0600,62.45,2018-10-15,2018-10-18,Carol Campbell,"1931 Brown St, Gainesville, FL 85321",AB61001,False
2,1002,7,10.0,0.0870,40.33,2018-10-14,2018-10-17,Julia Jones,"1622 Seaside St, Seattle, WA 32569",CD62001,True
3,1003,9,20.0,0.0625,70.98,2018-10-12,2018-10-15,Irene Everly,"1756 East Dr, Houston, TX 28562",KB63001,False
4,1004,6,7.0,0.0625,30.45,2018-10-16,2018-10-19,Rachel Rose,"1465 River Dr, Boston, MA 43625",IK64001,True
5,1005,5,8.0,0.0625,100.20,2018-10-13,2018-10-16,Sophie Sutton,"1896 West Dr, Portland, OR 65842",OP65001,False
6,1006,3,5.0,0.1025,58.52,2018-10-21,2018-10-24,Wendy West,"1252 Vine St, Chicago, IL 73215",XH66001,True

:

In [12]:
from utils.source_requirements import SourceRequirements

csv_source_paths = {
    table_name: path for table_name, path in 
    zip(
        SourceRequirements().requirements.keys(),
        [result['source_path'] for result in SourceRequirements().requirements.values()]
    )
}

In [13]:
csv_source_paths

{'carts_has_products': './data_source/carts_has_products.txt',
 'categories': './data_source/category.txt',
 'options': './data_source/option.txt',
 'orders': './data_source/order.txt',
 'orders_has_products': './data_source/orders_has_products.txt',
 'orders_paid_creditcard': './data_source/orders_paid_creditcard.txt',
 'orders_placed_user': './data_source/orders_placed_user.txt',
 'products_sold_vendor': './data_source/product_sold_vendor.txt',
 'products': './data_source/products.txt',
 'products_belong_category': './data_source/products_belong_category.txt',
 'products_has_options': './data_source/products_has_options.txt',
 'shoppingcarts': './data_source/shoppingcart.txt',
 'users': './data_source/user.txt',
 'user_has_creditcards': './data_source/user_has_creditcard.txt',
 'vendor': './data_source/vendor.txt'}

In [17]:
from datetime import datetime, timedelta

s = datetime.now()

In [18]:
e = datetime.now()

In [29]:
datetime(year=2000,month=1,day=1,second=(e-s).total_seconds(), microsecond=)

TypeError: integer argument expected, got float

In [31]:
a = 'source.fact_orders'
a.endswith('fact_orders')

True

In [11]:
x.dtypes

order_id                   object
total_item                  int64
shipping_fee              float64
tax                       float64
total_cost                float64
order_date         datetime64[ns]
delivery_date      datetime64[ns]
ship_name                  object
ship_address               object
tracking_number            object
delivery_status              bool
dtype: object

In [21]:
u = [i for i in range(5) if i > 8]
if not u:
    print(3)

3

In [25]:
df['hello'] = df['product_id '].multiply(df['quantity'])

In [26]:
df.head()

,product_id,option_id,quantity,price,on_sale,specs,hello
0,1200,1201,3,1299,1,Macbook Pro 13.3-inch (diagonal) LED-backlit d...,3600
1,1200,1202,2,2199,0,Macbook Pro 15.4-inch (diagonal) LED-backlit d...,2400
2,1300,1301,1,999,0,Macbook Air 11.6-inch (diagonal) LED-backlit g...,1300
3,1300,1302,4,1099,1,Macbook Air 13.3-inch (diagonal) LED-backlit g...,5200
4,1400,1401,5,799,1,Iphone X Storage capacity 128 GB,7000

In [11]:
df = pd.DataFrame(columns=['a'])

In [15]:
# df['a'] = pd.to_datetime(df['a'])
df['a'] = df['a'].astype('bool')
for type in df.dtypes:
    print(type)

bool

In [6]:
def y(t:dict[str, pd.DataFrame]):
    return 0

y({})

0

In [7]:
from google.oauth2.credentials import Credentials
from pipeline_template import GenericPipelineInterface
from google.oauth2 import service_account
from google.cloud import bigquery
from utils.transform import TableTransformation

In [ ]:
a = 1